/* You can add global styles to this file, and also import other style files */

body{
    background: #333333;
    color:white;
}

.won{
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 40px;   
    flex-direction: column;
    height: 400px;
    .button{

    }
}

.top-bar{
    display: flex;
    font-size: 40px;
    justify-content: space-between;
    padding: 0 30px;
    .deck{
        display: flex;
        img{
            height: 40px;
        }
    }
}

.button{
    background: #5a5a5c;
    border-radius: 3px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    margin: 5px;
}
.buttom-bar{
    display: flex;
    .button{
        flex-grow: 1;
    }
}

.card-container{
    margin: 0 auto;
    display: flex;
    width:100%;
    max-width: 550px;
    flex-wrap: wrap;
    .card{
        max-width: 120px;
        min-width: 33.3%;
        box-sizing: border-box;
        text-align: center;
        padding: 2px;
        .card-pic{
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 6px solid black;
            &.show{
                border-color: green;
            }
            &.selected{
                border-color:red;
            }

            .shape{
                width: 40px;
                img{
                    padding: 10px;
                    height: 40px;
                }

                &.not-visable{
                    opacity: 0.01;
                }
            }
        }
    }
}